.scan-tool {
  display: grid;
  gap: 1ch;
}

.scan-tool .scan-tool-dialog-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scan-tool-header {
  border-bottom: 1px solid #ccc;
  padding: 1ch 2ch;
  flex-shrink: 0;
}

.scan-tool-content {
  display: grid;
  align-content: start;
  gap: 1ch;
  padding: 1ch 2ch;
  overflow: auto;
  flex: 1;
}

.scan-tool-video {
  width: 100%;
  max-width: 48ch;
  height: auto;
  border: 1px solid #ccc;
}

.scan-tool-previews {
  display: grid;
  gap: 1ch;
}

.scan-tool-preview {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.scan-tool-preview img {
  width: 4ch;
  height: 4ch;
  object-fit: cover;
  border: 1px solid #ccc;
}

.scan-tool-menu {
  display: flex;
  gap: 1ch;
  margin: 0;
  padding: 0;
}

.scan-tool-footer {
  border-top: 1px solid #ccc;
  padding: 1ch 2ch;
  flex-shrink: 0;
}
