.text-content-tool {
  display: grid;
  gap: 1ch;

  .text-item-content {
    display: grid;
    gap: 0.5ch;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .input-group label {
    font-size: 0.8rem;
    color: #666;
  }
}
