:root {
  font-family: monospace;
  font-size: 14px;
  --color-text: #222;
  --color-text-secondary: #666;
  --color-text-active: #000;
  --section-header-background: #000;
  --section-header-text-color: white;
  --page-background: white;
  --spacing-unit: 1ch;
  --header-height: 5ch;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

body {
  color: var(--color-text);
  background: var(--page-background);
  line-height: 1.4;
}

/* Layout */
#page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2ch;
  background: var(--page-background);
  border-bottom: 1px solid #eee;
  z-index: 100;

  .header-actions {
    display: flex;
    gap: 1ch;
  }
}

#app {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
}

.panel-left {
  width: 30ch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
}

.panel-center {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2ch;
  padding: 2ch;
}

/* Typography */
h1,
h2 {
  font-weight: bold;
}

p {
  color: var(--color-text-secondary);
}

/* Form elements */
button {
  font-family: inherit;
  font-size: inherit;
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 2);
  border: 1px solid #ccc;
  background-color: white;
  color: var(--color-text);
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: var(--spacing-unit);
  border: 1px solid #ccc;
  width: 100%;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  padding: var(--spacing-unit);
  border: 1px solid #ccc;
  width: 100%;
  resize: none;
  field-sizing: content;
}

menu {
  display: flex;
  gap: 1ch;
}

/* Dialog */
dialog {
  border: 1px solid #ccc;
  padding: 0;
  max-height: 80vh;
  margin: auto;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 2ch;
    padding: 2ch;
  }

  &#setup-dialog {
    padding: 4ch;
    border: 1px solid #000;
    width: 100%;
  }
}
