.context-tray {
  display: grid;

  .blend-section textarea {
    width: 100%;
    min-height: 2lh;
    field-sizing: content;
    resize: none;
  }

  .tool-section {
    h2 {
      padding: 0.5ch 1ch;
      background: var(--section-header-background);
      color: var(--section-header-text-color);
    }
  }

  .tool-body {
    padding: 0.5ch;
  }
}
